[esptool]
timeout = 10
mem_end_rom_timeout = 2
serial_write_timeout = 30
write_block_attempts = 5
connect_attempts = 15
reset_delay = 0.2
# Enter download mode and leave GPIO0 (BOOT) low
custom_reset_sequence = D0|R1|W0.15|D1|R0|W0.1|D1
